In [169]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [170]:
d1=pd.read_csv("file4.csv")
d1['Reading age']=d1['Reading age'].fillna(value='12 - 17')
d1['Lexile measure']=d1['Lexile measure'].fillna(d1['Lexile measure'].mean())

In [171]:
d2=pd.read_csv("file6.csv")
d2['Reading age']=d2['Reading age'].fillna(value='18')
d2['Lexile measure'][398]=1050
d2[d2['Lexile measure']=='AD1050']
d2[d2['Lexile measure']=='AD810']
d2['Lexile measure'][1322]=810
d2['Lexile measure'].unique()
d2[d2['Lexile measure']=='NC1190']
d2['Lexile measure'][1377]=1190
d2[d2['Lexile measure']=='AD830']
d2['Lexile measure'][1239]=830
d2[d2['Lexile measure']=='GN380']
d2['Lexile measure'][667]=380
d2[d2['Lexile measure']=='AD570']
d2['Lexile measure'][607]=570
d2[d2['Lexile measure']=='AD730']
d2['Lexile measure'][262]=730
d2['Lexile measure'][d2['Lexile measure']=='NP']=0

In [172]:
d2['Lexile measure']=d2['Lexile measure'].astype(float)
d2['Lexile measure']=d2['Lexile measure'].fillna(d2['Lexile measure'].mean())

In [173]:
df=pd.concat([d1,d2])

In [174]:
df

,Title,Name of author,Publisher,Genre,Rating,Rating count,Review count,Book cover,Release date,Num of pages,Edition language,Num of other editions,Reading age,Best sellers rank,Lexile measure,Num of awards,Series,There is a movie
0,City of Ashes,Cassandra Clare,Margaret K. McElderry Books,Fantasy,4.13,839006.0,32040.0,Hardcover,2008.0,453.0,English,183.0,14 - 17,81279.0,720.000000,2,1.0,0
1,"Hush, Hush",Becca Fitzpatrick,Simon & Schuster BFYR,Young Adult,3.94,642960.0,26743.0,Hardcover,2009.0,391.0,English,111.0,14 - 17,143984.0,640.000000,1,1.0,0
2,City of Glass,Cassandra Clare,Margaret K. McElderry Books,Fantasy,4.29,878771.0,30486.0,Hardcover,2009.0,541.0,English,183.0,12 - 17,NaN,767.979452,3,NaN,0
3,Clockwork Angel,Cassandra Clare,Margaret K. McElderry Books,Fantasy,4.30,758199.0,35851.0,Hardcover,2010.0,479.0,English,136.0,14 - 17,84028.0,780.000000,5,1.0,0
4,Marked,P.C. Cast,St. Martin's Press,Young Adult,3.80,466712.0,14856.0,Paperback,2007.0,306.0,English,123.0,13 - 17,17969.0,780.000000,1,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1794,The Keys of the Kingdom,A.J. Cronin,Simon Schuster,Fiction,4.31,2664.0,265.0,Hardcover,1941.0,344.0,NaN,68.0,18,NaN,845.000000,0,0.0,1
1795,Misfit Toymakers: Misfits Made,Keith T. Jenkins,NaN,NaN,4.20,5.0,0.0,Paperback,2014.0,342.0,NaN,4.0,18,NaN,845.000000,0,0.0,1
1796,Alien: The Illustrated Story,Archie Goodwin,Orbit,Sequential Art > Comics,4.14,589.0,91.0,Paperback,NaN,64.0,English,14.0,18,NaN,845.000000,1,0.0,1
1797,Our Man in Havana,Graham Greene,Black Dog & Leventhal Publishers,Fiction,3.96,30391.0,2103.0,Paperback,1958.0,248.0,English,171.0,18,NaN,845.000000,0,0.0,1
1798,Shōgun,James Clavell,Pantheon Books,Historical > Historical Fiction,4.39,158999.0,4803.0,Paperback,2009.0,1152.0,English,165.0,18,6311.0,845.000000,0,1.0,1

In [175]:
df2=df.copy()

In [176]:
df2.drop_duplicates(inplace=True)

In [177]:

df2 = df2.dropna(subset=['Title'])

In [178]:
df2 = df2.drop(labels=['Best sellers rank'],axis=1)

In [179]:
from pandas.api.types import is_numeric_dtype
import numpy as np

cols=df2[df2.columns[df2.columns!='Num of awards']]##outliers
for i in cols:
    if is_numeric_dtype(df2[i]):
        z_score=(df2[i]-df2[i].mean())/df2[i].std()
        outliers=(abs(z_score)>3)
        df2[i][outliers]=np.nan 
        
df2 = df2.dropna()

In [180]:
from sklearn.preprocessing import LabelEncoder
from pandas.api.types import is_string_dtype

dff=df2.copy()
for i in dff:
    if is_string_dtype(df[i]):
        dff[i]=LabelEncoder().fit_transform(dff[i])

In [181]:
dff

,Title,Name of author,Publisher,Genre,Rating,Rating count,Review count,Book cover,Release date,Num of pages,Edition language,Num of other editions,Reading age,Lexile measure,Num of awards,Series,There is a movie
0,336,212,497,20,4.13,839006.0,32040.0,3,2008.0,453.0,3,183.0,15,720.0,2,1.0,0
1,753,140,704,76,3.94,642960.0,26743.0,3,2009.0,391.0,3,111.0,15,640.0,1,1.0,0
3,347,212,497,20,4.30,758199.0,35851.0,3,2010.0,479.0,3,136.0,15,780.0,5,1.0,0
4,986,1081,735,76,3.80,466712.0,14856.0,9,2007.0,306.0,3,123.0,12,780.0,1,1.0,0
5,670,824,325,20,4.06,428815.0,23931.0,3,2008.0,471.0,3,114.0,15,730.0,5,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1781,1777,1218,10,25,3.58,1018.0,105.0,9,2007.0,148.0,3,299.0,21,845.0,0,0.0,1
1782,1855,1003,113,43,3.71,1487.0,30.0,9,2004.0,384.0,3,14.0,21,845.0,0,0.0,1
1789,1791,325,799,43,3.84,84703.0,6471.0,11,2009.0,325.0,3,71.0,21,845.0,3,0.0,1
1790,1569,5,223,25,4.21,7459.0,559.0,3,1983.0,401.0,3,132.0,21,845.0,1,0.0,1
1793,1201,571,242,8,4.01,6535.0,385.0,4,2004.0,268.0,3,68.0,21,845.0,0,0.0,1